Header unset Connection
Header unset Time-Zone
Header unset Keep-Alive
Header unset Access-Control-Allow-Credentials
Header unset Access-Control-Allow-Headers
Header unset Access-Control-Allow-Methods
Header unset Access-Control-Allow-Origin
Header unset Access-Control-Expose-Headers
Header unset Access-Control-Max-Age
Header unset Access-Control-Request-Headers
Header unset Access-Control-Request-Method
Header unset Alt-Svc
Header unset Cache-Control
Header unset Content-MD5
Header unset Content-Security-Policy
Header unset Content-Security-Policy-Report-Only
Header unset Content-Type-Options
Header unset Cookie
Header unset DNT
Header unset Expect-CT
Header unset Expect-Staple
Header unset Expires
Header unset Frame-Options
Header unset Host
Header unset Host-Header
Header unset Link
Header unset P3P
Header unset Public-Key-Pins
Header unset Public-Key-Pins-Report-Only
Header unset Pragma
Header unset Referrer-Policy
Header unset Report-To
Header unset Set-Cookie
Header unset Server
Header always unset Server
Header unset Strict-Transport-Security
Header unset TE
Header unset Timing-Allow-Origin
Header unset Transfer-Encoding
Header unset Trailer
Header unset Vary
Header unset Via
Header unset Upgrade
Header unset Warning
Header unset WWW-Authenticate
Header unset X-Arena
Header unset X-Blogs
Header unset X-Cache
Header unset X-Cache-Enabled
Header unset X-Cache-Hits
Header unset X-Content-Security-Policy
Header unset X-Content-Type-Options
Header unset X-Co-Op-Domains
Header unset X-DNS-Prefetch-Control
Header unset X-Download-Options
Header unset X-Emojis
Header unset X-Fastly-Request-ID
Header unset X-Forwarded-Host
Header unset X-Forwarded-Proto
Header unset X-Frame-Options
Header unset X-Generator
Header unset X-GitHub-Request-Id
Header unset X-Hostname
Header unset X-Jurisdiction
Header unset X-Modified
Header unset X-NoSpam-Policy
Header unset X-Permitted-Cross-Domain-Policies
Header unset X-Pingback
Header unset X-Plugins
Header unset X-Proxy-Cache
Header unset X-Request-Id
Header unset X-Robots-Tag
Header unset X-Seen-By
Header unset X-Served-By
Header unset X-Sucuri-Cache
Header unset X-Sucuri-ID
Header unset X-UA-Compatible
Header unset X-Webkit-CSP
Header unset X-XSS-Protection

ServerSignature On
AddDefaultCharset UTF-8
SetEnv TZ America/New_York
SetEnv SERVER_ADMIN webmaster@globcal.net
Options +FollowSymLinks -MultiViews -Indexes

DirectoryIndex index.html /index.html

Header set Host GITHUB.GLOBCAL.NET
Header set Connection keep-alive
Header set Time-Zone America/New_York
Header set Keep-Alive timeout=100,max=500

Header set Expect-CT max-age=86400, report, report-uri='https://globcal.report-uri.com/r/d/ct/reportOnly'

Header set Expect-Staple max-age=86400; report, report-uri='https://globcal.report-uri.com/r/d/staple/reportOnly'

Header set Strict-Transport-Security max-age=31536000; includeSubdomains; preload

Header set Access-Control-Allow-Methods CONNECT, DEBUG, DELETE, DONE, GET, HEAD, HTTP, HTTP/0.9, HTTP/1.0, HTTP/1.1, HTTP/2, OPTIONS, ORIGIN, ORIGINS, PATCH, POST, PUT, QUIC, REST, SESSION, SHOULD, SPDY, TRACE, TRACK

Header set Access-Control-Allow-Origin https://feedproxy.google.com https://sites.google.com https://*.googleapis.com https://globcal.net https://*.globcal.net https://feeds.feedburner.com https://facebook.com https://*.facebook.com https://globcal.workplace.com https://twitter.com https://www.nonstate.net

Header set X-Content-Type-Options nosniff
Header set X-XSS-Protection 1;mode=block

Header set Link <https://github.globcal.net/index.html>; rel='canonical'

AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi

AddType application/octet-stream .avi .mpg .mov .pdf .xls .mp4 .zip .pdf

ErrorDocument 100 /100_CONTINUE
ErrorDocument 101 /101_SWITCHING_PROTOCOLS
ErrorDocument 102 /102_PROCESSING
ErrorDocument 200 /200_OK
ErrorDocument 201 /201_CREATED
ErrorDocument 202 /202_ACCEPTED
ErrorDocument 203 /203_NON_AUTHORITATIVE
ErrorDocument 204 /204_NO_CONTENT
ErrorDocument 205 /205_RESET_CONTENT
ErrorDocument 206 /206_PARTIAL_CONTENT
ErrorDocument 207 /207_MULTI_STATUS
ErrorDocument 300 /300_MULTIPLE_CHOICES
ErrorDocument 301 /301_MOVED_PERMANENTLY
ErrorDocument 302 /302_MOVED_TEMPORARILY
ErrorDocument 303 /303_SEE_OTHER
ErrorDocument 304 /304_NOT_MODIFIED
ErrorDocument 305 /305_USE_PROXY
ErrorDocument 307 /307_TEMPORARY_REDIRECT
ErrorDocument 400 /400_BAD_REQUEST
ErrorDocument 401 /401_UNAUTHORIZED
ErrorDocument 402 /402_PAYMENT_REQUIRED
ErrorDocument 403 /403_FORBIDDEN
ErrorDocument 404 /404_NOT_FOUND
ErrorDocument 405 /405_METHOD_NOT_ALLOWED
ErrorDocument 406 /406_NOT_ACCEPTABLE
ErrorDocument 407 /407_PROXY_AUTHENTICATION_REQUIRED
ErrorDocument 408 /408_REQUEST_TIME_OUT
ErrorDocument 409 /409_CONFLICT
ErrorDocument 410 /410_GONE
ErrorDocument 411 /411_LENGTH_REQUIRED
ErrorDocument 412 /412_PRECONDITION_FAILED
ErrorDocument 413 /413_REQUEST_ENTITY_TOO_LARGE
ErrorDocument 414 /414_REQUEST_URI_TOO_LARGE
ErrorDocument 415 /415_UNSUPPORTED_MEDIA_TYPE
ErrorDocument 416 /416_RANGE_NOT_SATISFIABLE
ErrorDocument 417 /417_EXPECTATION_FAILED
ErrorDocument 422 /422_UNPROCESSABLE_ENTITY
ErrorDocument 423 /423_LOCKED
ErrorDocument 424 /424_FAILED_DEPENDENCY
ErrorDocument 426 /426_UPGRADE_REQUIRED
ErrorDocument 500 /500_INTERNAL_SERVER_ERROR
ErrorDocument 501 /501_NOT_IMPLEMENTED
ErrorDocument 502 /502_BAD_GATEWAY
ErrorDocument 503 /503_SERVICE_UNAVAILABLE
ErrorDocument 504 /504_GATEWAY_TIME_OUT
ErrorDocument 505 /505_VERSION_NOT_SUPPORTED
ErrorDocument 506 /506_VARIANT_ALSO_VARIES
ErrorDocument 507 /507_INSUFFICIENT_STORAGE
ErrorDocument 510 /510_NOT_EXTENDED
